@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

:root {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  min-height: 100vh;

  color-scheme: light dark;
  color: #222222;
  background: linear-gradient(to bottom, #ffffff 0%, #fcfcfc 38%, #f8f9fa 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
